
.navigation{
    color: aqua !important;
}
.nav-item-list a{
    transition: 0.5s ease-in-out;
}
.nav-item-list a:hover{
    color: rgb(186, 105, 105) !important;
    letter-spacing: 1px;
    border-bottom: 1px solid  rgb(186, 105, 105);
    border-top: 1px solid  rgb(186, 105, 105);

}



